name: Build
on: [push, pull_request]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --bin moonlight-installer --release
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: moonlight-installer-windows
          path: target/release/moonlight-installer.exe

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      # macos-latest is aarch64, install x86_64 target
      - uses: dtolnay/rust-toolchain@stable
        targets: x86_64-apple-darwin

      # build our two architectures
      - name: Build (AArch64)
        run: cargo build --target=aarch64-apple-darwin --release
      - name: Build (x86_64)
        run: cargo build --target=x86_64-apple-darwin --release

      # packaging
      - name: Create .app bundle
        run: ./package-macos-app.sh bundle
      - name: Create DMG
        run: hdiutil create -volname "moonlight installer" -srcfolder temp/app -ov -format UDZO moonlight-installer-macos.dmg
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: moonlight-installer-macos
          path: moonlight-installer-macos.dmg
